@import "const.scss";

&
{
    margin-top: calc(#{$barHeight} + 6px);
}

ul
{
    padding: 0px;
}

li
{
    list-style-type: none;
    
    margin-left: 5px;
    padding: 3px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

li + li
{
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: 1px dashed black;
}

li
{
    input
    {
        margin-left: 3px;
    }
    
    input[name="name"]
    {
        flex-grow: 2;
        min-width: 4em;
        max-width: 50%;
    }
    
    input[name="quantity"]
    {
        flex-grow: 1;
        width: 3em;
    }
    
    input[name="cost"]
    {
        flex-grow: 1;
        width: 4.25em;
    }
    
    span
    {
        width: 4em;
        padding: 0px 3px;
        text-align: left;
    }
    
    button
    {
        width: 2em;
        height: 2em;
        padding: 0px;
    }
}
