@import "const.scss";

*
{
    box-sizing: border-box;
}

body
{
    padding: 0px;
    max-width: $maxBodyWidth;
    margin: auto;
    
    background-color: #d3d3d3;
    font-family: sans-serif;
}

div#bar, div#list
{
    margin: 0px;
    padding: 0px;
}

div#bar
{
    @import "bar.scss";
}

div#list
{
    @import "list.scss";
}
